#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.artworks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Creates responsive grid columns */
  gap: 16px;
}

.artLi {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  background-color: #f9f9f9;
  text-align: center;
}

.artLi h1 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.artLi img {
  max-width: 100%;
  height: auto;
}



form {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add subtle shadow for depth */
}

label {
  display: block;
  font-size: large;
  margin-bottom: 10px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: medium;
}

button {
  color: black;
  font-size: medium;
  transition: background-color 0.3s ease;
  /* Smooth transition for hover effect */
}

button:hover {
  background-color: #61b372;
}